################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/zaeg-site/config
/.vs/zaeg-site/CopilotIndices/17.14.698.11175
/.vs/zaeg-site/FileContentIndex
/.vs
